<!doctype html>

<html ng-app="ngTodo">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Todo App</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

	<script src="js/controllers/main.js"></script>
	<script src="js/services/todos.js"></script>
	<script src="js/core.js"></script>

</head>

<body ng-controller="mainController">
	<div class="container">


		<div class="text-center">
			<h1>Pending items: <span class="label label-info">{{ todos.length }}</span></h1>
		</div>

		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-8 align-top align-middle">
								<input type="text" class="form-control input-lg text-center" placeholder="Enter Quick Task Here" ng-model="formData.task">
							  </div>
							  <div class="col-sm-4 align-top align-middle">
								<div class="form-group row">
									<div class="col-10">
									  <input class="form-control" type="datetime-local" id="example-datetime-local-input" ng-model="formData.due">
									</div>
								</div>
							  </div>
						</div>						
					</div>

					<button type="submit" class="form-control btn btn-primary btn-lg" ng-click="createTodo()">Add task</button>
				</form>
			</div>
		</div>

		<div id="todo-list" class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="form-control checkbox-lg" ng-repeat="todo in todos">
					<label>
						<input type="checkbox" ng-click="deleteTodo(todo._id)"> 
						{{ todo.task }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>
			</div>
		</div>

	</div>

</body>
</html>
